@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg text-ink font-body;
}

::selection {
  background-color: #F5A62333;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #262E44;
  border-radius: 3px;
}
